body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
body {
    margin: 0; 
    height: 100vh; 
    background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExM3F2bTlqcnN4dmMzcG81dWE2c25qZzNoMnU4a3BtbDBnaWVtNGZmcyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/pNLoBU0ZMLs2ltXkFV/giphy.gif'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.calculator {
    background-color: #f140a4;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 500px; 
}

#display {
    width: 95%;
    height: 60px; 
    font-size: 32px; 
    text-align: right;
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px; 
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px; 
}

button {
    padding: 25px; 
    font-size: 24px; 
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; 
}

button:hover {
    background-color: #e87ce1;
    box-shadow: 0 0 10px rgba(232, 124, 225, 0.7), 0 0 20px rgba(232, 124, 225, 0.5); 
}

.equals {
    background-color: purple;
}

.equals:hover {
    background-color: #e87ce1;
    box-shadow: 0 0 10px rgba(232, 124, 225, 0.7), 0 0 20px rgba(232, 124, 225, 0.5); 
}